@import './vars';

@media (max-width: 1440px) {  
    .container {
        width: 100%;
    }
    
    .header,
    .navbar,
    .content,
    .footer {
        padding: 0 10px;
    }
}

@media (max-width: 1200px) {  
    
}

@media (max-width: 992px) { 
 
}

@media (max-width: 768px) {  
    .layout {
        
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        &__navbar, &__content {
            grid-column-start: 1;
            grid-column-end: 2;
            -ms-grid-column-span: 2;
        }

        &__navbar {
            grid-row: 1;
        }

        &__content {
            grid-row: 2;
        }

    }

    .navbar {
        padding-top: $menu-offset;
        width: 100%;
    }

}


@media (max-width: 576px) {  

}


@media (max-width: 414px) {  

}