// npm install --save normalize.css
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #222;
    font-family: 'Roboto', sans-serif;
}

main {
    display: block;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.page {
    display: table;
    width: 100%;
	height: 100%;

    &__layout {
        display: table-row;
        height: 100%;
    }

}


